<html data-theme="lofi">

<head>
    <title>Track | Website traffic analytics without signing up.</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="p-8 max-w-md mx-auto md:flex place-content-center h-screen items-center justify-center">
        <div class="mb-24">
            <div class="my-8">
                <div class="p-2">
                    <div class="text-2xl">Track</div>
                    <div class="text mt-1">Website traffic analytics without signing up. To install on linux do the
                        following:</div>
                </div>
                <div class="mockup-code mt-4">
                    <pre data-prefix="$"><code>curl -s sh.tools/track | sh</code></pre>
                    <pre data-prefix="$"><code>chmod +x track && sudo mv /usr/bin/track</code></pre>
                    <pre data-prefix="$"><code>track yourdomain.com</code></pre>
                </div>
            </div>
            <div class="p-2 my-4">
                <div class="text-xl">Other commands?</div>

                <div class="mt-4 font-semibold">track stats</div>
                <div class="font-semibold">track info</div>
            </div> 
        </div>
    </div>
</body>

</html>